.input__field {
  height: 35px;
  font-size: 25px;
  width: 100%;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 5px;
}
.input__button {
  font-size: 20px;
  border: 1px solid white;
  border-radius: 5px;
}
